<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="ExceptionTest">
            <file>tests/ExceptionTest.php</file>
        </testsuite>
        <testsuite name="SumTest">
            <file>tests/SumTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>